body {
  font-family: sans-serif;
  background: #4a4a4a 0% 0% no-repeat padding-box;
  opacity: 1;
}

.header {
  background: #000000 0% 0% no-repeat padding-box;
  height: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 25px;
  font-size: 24px;
}

.content {
  display: flex;
  flex-direction: column;
}

.side-content {
  display: flex;
  background: #272727 0% 0% no-repeat padding-box;
  flex-direction: row;
  font-size: 16px;
  color: #fff;
}

.side-header {
  height: 19px;
  padding: 10px;
  background: #000000 0% 0% no-repeat padding-box;
}
